<h2>Complete form to add new Vendor:</h2>

<form action="/vendors" method="post">
    <label for="vendName">Vendor's name</label>
    <input id="vendName" name="vendName" type="text">
    <label for="bio">Vendor info</label>
    <input id="bio" name="bio" type="text">
    <button type="submit" class="btn btn-info">Create Vendor File</button>
</form>

<p><a href="/vendors">Return to list</a></p>
<p><a href="/">Back to Home!</a></p>