@using VendorTracker.Models;

<h1>Vendor Information:</h1>

<h2>---@Model.Name---</h2>
<h4>@Model.Bio</h4>
<h3>Orders:</h3>





<p><a href="/vendors">Return to Vendor List</a></p>
<p><a href="/">Return to Home</a></p>
